* {
  padding: 0;
  margin: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

header {
  width: 100%;
  background-image: url(../img/bg.jpg);
  background-position: center;
  display: grid;
  place-items: center;
}

img {
  height: 70%;
  max-width: 100%;
}

nav {
  background-color: #e13c4f;
  color: beige;
  padding: 20px;
  display: grid;
  place-items: center;
}
p {
  text-align: justify;
  padding: 10px;
  font-size: 20px;
}
a {
  text-decoration: none;
  color: aliceblue;
}
h1 {
  padding: 10px;
}

.part1,
.part2,
.part3,
.part4,
.part5 {
  padding: 40px;
}

.part3,
.part1 {
  color: aliceblue;
  background-color: #42404d;
}

ul li {
  display: inline-block;
  padding: 20px;
  font-size: 2em;
  text-align: center;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-kerning: 60px;
  list-style: none;
}

footer p {
  background-color: #252233;
  color: aliceblue;
  padding: 40px;
  text-align: center;
  text-transform: uppercase;
}
